.video-header-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}
.video-overlay h1{
    color: #e0e0e0;
}
.video-overlay p{
    color: #e0e0e0;
}
.video-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


/* Surf Spots Section */
.spots-list-container {
    padding: 20px;
    text-align: center;
}

.spots-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.spots-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.spot-card {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}

.spot-card:hover {
    transform: scale(1.05);
}

.spot-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.spot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.spot-image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    color: #777;
    font-size: 1.5rem;
    border-radius: 10px;
}

.spot-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
}

.spot-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: white; /* Ensure the text is white */
}

.spot-location {
    font-size: 1.2rem;
    margin: 5px 0 0;
    color: white; /* Ensure the text is white */
}
